body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

.drum-pad {
  margin:2px;
  height: auto;
  color: #fff;
  text-align: center;
  font-size: 2rem;
  width: 33%;
}