html, body {
  width: 100%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin:0;
  padding:0;
  height: auto;
  background: darkgoldenrod;
}

#app {
  max-width: 80%;
  margin: 0 auto;
}

textarea {
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  width: 100%;
  min-height: 300px;
}


.container {
  border: 2px solid black;
  border-radius: 5px;

}

header {
  height:45px;
  padding-top: 5px;
  background-color:darkblue;
}

header span {
  color:#fff;
  font-size: 1.5em;
  font-weight:bold;
}

img {
  max-width: 100%;
  height: auto;
}

.inner {
  margin-left:5px;
}